.chatBox(id="chatBox" hidden)
    .panel.panel-primary(id="primaryPanel")
        .panel-heading(id="headingPanel")
            span
                .chatLeft
                    img.chatLeftIcon(src='resources/images/icons/chatWhite.png', alt='chat')
                    .spinnerChat(hidden)
                        .bounceChat1
                        .bounceChat2
                        .bounceChat3
                    img.chatRightIcon(src='resources/images/icons/arrowDown.png', alt='close', id="btn_minimiseChat")
        .panel-body(id="bodyPanel")
            ul#chat.chat
        .panel-footer(id="footerPanel")
            include chooseImg.jade
            .input-group
                input#inp_chat.form-control.input-sm(type='text', placeholder="#{__('G.TYPE_MESSAGE')}")
                span.input-group-btn
                    button#btn_chat.btn.btn-sm #{__('GENERAL.SEND')}